
* {
    margin: 0; border: 0; padding: 0;
    //font-size: 1.1em;
    //page-break-inside: avoid;
}

p {
    margin: .5em 0em .5em 0em;
}

body {
    color:#414141;
    //color:black;
    font-weight: lighter;
    font-family: sans-serif;
    
    background-color: white;
    
    //width: 100%;
}

/*Header*/
header {
    position:relative;
    
    /*Positioning and size*/
    height: 8em;
    width: 100%;
    
    background-color: rgb(106, 106, 106);
    
    text-align: center;
    
    color: white;
    
    z-index: 0;
}

header>div {
    /*Text centering*/
    margin: 0;
    
    position: absolute;
    top: 50%;
    //left: 50%;
    padding-left:400px;
    text-align: left;
    margin-right: -50%;
    //transform: translate(-50%, -50%);
    transform: translate(0, -50%);
    
}

header > div > .name, .header> div > .job{
    font-family: sans-serif;
}

header > div > .name {
    font-size: 250%;
    font-weight: lighter;
}

header > div > .job {
    font-size: 100%;
    font-weight: lighter;
}

a {
    color:inherit;
    text-decoration: underline;
}

/*Text*/
.small {
    font-size: 75%;
}

/*Aside*/
aside {
    /*Positioning*/
    position: fixed;
    
    left: 0px;
    top: 0px;
    

    /*Size and padding*/
    width: 15em;
    padding: 1em;
    box-sizing: border-box;
    
    /*Text*/
    text-align: right;
    font-size:.9em;
    
    color:#ffffff;
    
    z-index: -1;
    
    background-color: rgb(106, 106, 106);
    
    border-radius: 0px 0px 15px 0px;
    
}

aside>* {
    color:#ffffff;
}

aside > h2 {
    margin: 0; border: 0; padding: 0; 
    margin-top: 1em;
}

aside > .hiddenBySummary {
    //height: 7em;
    padding-bottom: 20px;
}


aside>ul, aside > .hiddenBySummary>ul {
    list-style-type: none;
    margin: 0;
    border: 0;
    padding: 0;
}

/*Content*/
.content {
    
    /*Positioning*/
    position: absolute;
    
    margin: 0px;
    padding: 0px;
    left: 15.5em;
    
    z-index: -3;
    
}

.subtitle {
    font-size: 110%;
    font-weight: bold;
}

/*skills highlighting*/
.Csharp{
    background-color:aqua;
}

/****************/

.content>*>h1 {
    position: relative;
    left: -100px;
    max-width: 220px;
    text-align: right;
    font-size: 1.4em;
    //background-color: aqua;
    margin-top: 40px;
}

/*education*/
.education > h1 {
    color: skyblue;
}
.education > .cv-item > .cv_period:after {
    background-color: skyblue;
}

/*experience*/
.experience > h1 {
    color: hotpink;
}
.experience > .cv-item > .cv_period:after {
    background-color: hotpink;
}

/*projects*/
.projects > h1 {
    color: limegreen;
}
.projects > .cv-item > .cv_period:after {
    background-color: limegreen;
}


/*short courses*/
.shortCourses > h1 {
    color: orange;
}
.shortCourses > .cv-item > .cv_period:after {
    background-color: orange;
}

/*certification*/
.certification > h1 {
    color: coral;
}
.certification > .cv-item > .cv_period:after {
    background-color: coral;
}

/*talks*/
.talks>h1 {
    color:skyblue;
}
.talks > .cv-item > .cv_period:after {
    background-color: skyblue;
}

/*conferences*/
.conferences>h1 {
    color:mediumvioletred;
}
.conferences > .cv-item > .cv_period:after {
    background-color: mediumvioletred;
}


/*Interests*/
.interests>h2 {
    margin-left: 100px;
    padding-left: 10px;
    padding-top: 10px;
}

.interests>p {
    margin-left: 170px;
    padding-left: 10px;
}

.interests > .cv-item > .cv_period:after {
    background-color:saddlebrown;
}

.interests > h1 {
    color:saddlebrown;
}

/*CV main content structure*/
.cv_period:after {
    content: "";
    position: absolute;
    height: 100%;
    width: .4em;
    top:0px;
    left: 120px;
    border-radius: 100px 100px 100px 100px;
    background-color: darkgray;
}

.cv-item {
    width: auto;
    position: relative;
    margin-left: 0px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    
    display: table;
    page-break-inside: avoid !important;
}

.cv_period {
    font-size: .8em;
    
    text-align: right;
    padding-right: 25px;
    width:100px;
    display: table-cell;
    vertical-align: text-top;
    
}

.cv_details {
    font-size: .9em;
    color:darkslategray;
}


.cv_title {
    //color:black;
    font-weight: 500;
    font-size: 1.2em;
}

.cv_title>bold {
    font-weight: 700;
}

.description > ul {
    
    padding-left: 40px;
    line-height: normal;
}

.description>p {
    font-size: .9em;
    margin-top: 5px;
    text-indent: 20px;
    //background-color:aqua;
}

.description>p>b {
	font-weight: bold;
}

/*Responsiveness*/
@media screen and (max-height: 800px) {
    
    aside{
        position:absolute;
    }
}
@media screen and (max-width: 800px) {
    
    aside{
        display: none;
    }
    
    header > div {
        padding-left: 25px;
    }
    
    .content{
        left:0px;
    }
}

/*Printing*/
@media print {
    
    header {
        display: none;    
    }
    
    aside {
		position:absolute;
        padding-left: 0px;
        //right: -50px;
        //width: 220px;
        //border-radius: 15px 15px 15px 15px;
        background-color: white;
    }
    
    aside>* {
        color: #414141;    
    }
    aside>h2 {
        color: #414141;    
    }
    
    aside:after {
        content: "";
        position: absolute;
        height: 100%;
        width: .4em;
        top:15px;
        right: -4px;
        border-radius: 100px 100px 100px 100px;
        background-color: darkgray;
    }
    
    /*for some reason we can't outright replace <a> with just the href on firefox*/
    a>*, a {
        //content: none;
    }
    
    a:after {
        word-wrap: break-word;
        //content: "\A" attr(href);
        white-space:pre-wrap;
        font-size: 70%;
    }
    
    
}

/*Manually aligning because wkhtml is being a bitch (I'm sorry)*/
.experience:before {
    content:"\A";
    white-space:pre;
}

.certification::before {
    page-break-before: always !important;
    content:"\A";
    white-space:pre; 
}