
* {
    margin: 0; border: 0; padding: 0;
    //font-size: 1.1em;
}

p {
    margin: .5em 0em .5em 0em;
}

body {
    color:#414141;
    //color:black;
    font-weight: lighter;
    font-family: sans-serif;
    
    //background-color: #3e3e3e;
    background-color: white;
}

a {
    color:inherit;
    text-decoration: none;
}

/*Text*/
.small {
    font-size: 75%;
}

.red {
    color: indianred;
}

.green {
    color: limegreen;
}

.blue {
    color:lightskyblue;
}

.purple {
    color:mediumvioletred;
}

.pink {
    color:hotpink;
}

.orange {
    color:orange;
}

.brown {
    color:saddlebrown;
}

.coral {
    color:coral;
}

/*Header*/
header {
    position:relative;
    
    /*Positioning and size*/
    height: 7em;
    width: 100%;
    
    background-color: rgb(106, 106, 106);
    
    text-align: center;
    
    color: white;
    
    z-index: 0;
}

header>div {
    /*Text centering*/
    margin: 0;
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
}

header > h1, header>h2{
    font-family: sans-serif;
}

header > h1 {
    font-size: 350%;
    font-weight: lighter;
}

header > h2 {
    font-size: 200%;
    font-weight: lighter;
}

/*Aside*/
aside {
    /*Positioning*/
    position: fixed;
    
    left: 0px;
    top: 0px;
    

    /*Size and padding*/
    width: 15em;
    padding: 1em;
    box-sizing: border-box;
    
    /*Text*/
    text-align: right;
    font-size:.9em;
    
    color:#ffffff;
    
    z-index: -1;
    
    background-color: rgb(106, 106, 106);
    
    border-radius: 0px 0px 15px 0px;
}

aside>* {
    color:#ffffff;
}

aside > h2 {
    margin: 0; border: 0; padding: 0; 
    margin-top: 10px;
}

aside > .hiddenBySummary {
    height: 7em;
}


aside>ul, aside > .hiddenBySummary>ul {
    list-style-type: none;
    margin: 0;
    border: 0;
    padding: 0;
}

/*Content*/
content {
    /*Positioning*/
    position: absolute;
    top: 7em;
    
    left: 15em;
    padding: 20px 60px 150px 20px;
    
    
}

.subtitle {
    font-size: 110%;
    font-weight: bold;
}

content > p {
    text-indent: 20px;
}

content > h1{
    padding-top:1.0em;
}


bold {
    display:inline;
    font-weight: bold;
}


/*Responsiveness*/
@media screen and (max-height: 800px) {
    
    aside{
        position:absolute;
    }
}

/*Printing*/
@media print {
    
    header {
        display: none;    
    }
    
    content {
        top:0px;    
    }
    
    aside {
        position: absolute;
    }
    
    /*for some reason we can't outright replace <a> with just the href on firefox*/
    a {
        //display:none;
        content: "";
    }
    
    a:after {
        //display:inline;
        content: "\a" attr(href);
        font-size: 70%;
    }

}