
/****************/


/**/

.duration {
    vertical-align: top;
    width: 150px;
    //height: 100%;
    text-align: right;
    
    padding-right: 10px;
    
    //border-right: 1px solid white;
    //background-color: green;
}

.name {
    vertical-align: top;
    text-align: left;
    font-size: 100%;
    font-weight: bolder;
    //background-color: orangered;
}

.details {
    font-size: 90%;
    text-align: left;
    //background-color: olivedrab;
}

.location {
    vertical-align: top;
    color:darkgray;
    font-size: 80%;
    text-align: right;
    
    //background-color: green;
}

.description {
    font-size: 100%;
    text-align: justify;
    
    padding-top: 5px;
    
    //background-color: magenta;
}

.tg  {
    font-size: 1.0em;
    //background-color: #ff9d00;
    
    //border-collapse:collapse;
    border-spacing:0;
    
    margin:0px auto;
    width: 100%;
}

.tg td{
    //padding: 0px 0px 0px 0px;
}

.description > ul {
    margin-left: 30px;
}

.blank_row {
    height: 20px !important; /* Overwrite any previous rules */
    background-color: #FFFFFF;
}